<div class="row logo-container">
    <div class='col d-flex align-items-center justify-content-center'>

        <!-- Generator: Adobe Illustrator 24.0.2, SVG Export Plug-In  -->
        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="361px"
            height="361px" viewBox="0 0 361 361" xml:space="preserve">
            <defs>
                <linearGradient id="grad1" x1="0%" y1="0%" >
                    <stop offset="0%" stop-color="lightblue" stop-opacity=".5">
                        <animate attributeName="stop-color" values="blue;blue;red;red;red;red;purple;blue" dur="14s" repeatCount="indefinite" />
                      </stop>
                      <stop offset="100%" stop-color="lightblue" stop-opacity=".5">
                        <animate attributeName="stop-color" values="blue;orange;purple;purple;purple;purple;blue" dur="14s" repeatCount="indefinite" />
                      </stop>
                </linearGradient>
            </defs>
            <g class='logo-component' id='jl-logo-j'>
                <path fill="url(#grad1)" d="M177,41.5v240c0,2.8-2.3,5.1-5.1,5.1H60.5c-2.8,0-5.1-2.3-5.1-5.1v-27.4c0-2.8,2.3-5.1,5.1-5.1h73.9c2.8,0,5.1-2.3,5.1-5.1
                    V41.5c0-2.8,2.3-5.1,5.1-5.1H172C174.8,36.4,177,38.7,177,41.5z"/>
            </g>
            <g class='logo-component' id='jl-logo-l'>
                <path fill="url(#grad1)" d="M305.6,254.1v27.4c0,2.8-2.3,5.1-5.1,5.1H189c-2.8,0-5.1-2.3-5.1-5.1v-240c0-2.8,2.3-5.1,5.1-5.1h27.4
                    c2.8,0,5.1,2.3,5.1,5.1V244c0,2.8,2.3,5.1,5.1,5.1h73.9C303.3,249.1,305.6,251.3,305.6,254.1z"/>
            </g>
        </svg>

        
    </div>
</div>

<div class="row">
    <div class='col text-center'>
        <span class="touch-icon material-icons">touch_app</span>
    </div>
</div>