<section class="contact-container">
    <div class="d-flex align-items-center justify-content-center h-100">
        <div class="d-flex flex-column">
            <div class='row m-5'>
                <div class='col text-center'>
                    <h1>contact</h1>
                </div>
            </div>
            <div class='row mb-5'>
                <div class='col text-center link-container'>
                    <a href="https://www.instagram.com/joshualoew" target="_blank">instagram</a> | <a href="https://www.linkedin.com/in/joshua-loew-358258110/" target="_blank">linkedin</a> | <a href="mailto:loewjc@gmail.com">email</a> | <a href="https://github.com/loewj" target="_blank">github</a>
                </div>
            </div>
            <div class='row mb-5'>
                <div class='col text-center'>
                    <img width="70%" class="img-thumbnail" src="/assets/image/images/gdmbr.jpg">
                </div>
            </div>
        </div>
    </div>
</section>