<section class="intro-container">
    <div class="d-flex align-items-center justify-content-center h-100">
        <div class="d-flex flex-column">
            <div class='row m-5'>
                <div class='col text-center'>
                    <h1>about</h1>
                </div>
            </div>
            <div class='row'>
                <div class='col-sm-3'></div>
                <div class='col-sm-6'>
                    <p>
                        My name is Joshua Loew, and I'm passionate about software, design, photography, and bicycles. I have nearly 3 years of industry experience as a full-stack engineer.
                    </p>
                    <p>
                        Recently, I built a bike from the frame-up and completed a solo ride on the Great Divide Mountain Bike Route.
                    </p>
                </div>
                <div class='col-sm-3'></div>
            </div>
        </div>
    </div>
</section>