* {
    color: white;
}

.navbar-container {
    margin-top: 1em;
}

.material-icons {
    font-size: 2em;
    cursor: pointer;
}

.show-delimeter {
    visibility: visible;
}

.hide-delimeter {
    visibility: hidden;
}