<div class='row navbar-container'>
    <div class='col sm-4 text-left'>
        <p>{{ timeHour }}<span [ngClass]="{'show-delimeter': showClockDelimeter, 'hide-delimeter': !showClockDelimeter}">:</span>{{timeMinute}} {{ timeAMPM }}</p>
    </div>
    <div class='col sm-4 text-center'>
        <a (click)="toggleNav()" class="material-icons">
            <span *ngIf='navOpen === false'>menu</span>
            <span *ngIf='navOpen === true'>close</span>
        </a>
    </div>
    <div class='col sm-4 text-right'>
        <p>{{ weatherString }}</p>
    </div>
</div>