@import url('https://fonts.googleapis.com/css?family=Inconsolata&display=swap');

* {
    font-family: 'Inconsolata', monospace;
}

.content {

    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background: linear-gradient(-135deg,#0ff,#00f)

}